@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

.contact-header {    
    background-image: url(../img/16x9-img11.jpg);
    background-size: cover;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @phone500 {
        background-image: url(../img/9x16-img12.jpg);
        background-size: cover;

    }

    //navbar inside of header styling 
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 7vh;

        .nav-logo {
            top: 0;
            width: 2%;
            display: flex;
            align-items: flex-start;

            @media @desktop1600 {
                width: 3%;
        
            }
            @media @laptop1400 {
                width: 5%;
        
            }

            @media @laptop768 {
                width: 10%;
        
            }

            @media @phone500 {
                display: none;
                          
            }
        } //end of nav-logo

        .nav-links {
            width: 50%;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.5rem;

                &:hover {
                    color:@action-button;

                } //end of :hover

                @media @phone500 {
                    font-size: 1.2rem;
                              
                }//end of a media query

            }//end of a

            //media queries for nav-links
            @media @laptop768 {
                width: 80%;
                          
            }
            @media @phone500 {
                width: 100%;
                          
            }
            //end of nav-links media query

        } //end of nav-links

    } //end of nav



    .contact-container {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;

        background-color: white;
        height: 85vh;        
        width: 30%;
        border-radius: 1rem;
        padding: 2%;
        overflow: auto;
        align-items: center;

        button {
            .general-button();
        }
        

        form {
            display: flex;
            flex-direction: column;
            width: 90%;

            label {
                font-size: 1.8rem;
                padding-top: 2vh;
                font-family: 'Russo One', sans-serif;
                color: @section-bg;


                @media @phone500 {
                    font-size: 1.2rem;
                    padding-top: 1vh;
                }
            }

            input {
                height: 2.6rem;
                border: 2px solid @section-bg;
                border-radius: 1rem;                
                padding-left: 10px;

                @media @phone500 {
                    height: 2.4rem;
                }
            }


            textarea {
                overflow: auto;
                border-radius: 1rem;
                padding: 10px;
                padding-bottom: 30px;
                border: 2px solid @section-bg;
            }

            button {
                margin: auto;
                margin-top: 1vh;
                width: 100%;
        
            }
            
        }

        @media @laptop768 {
            width: 70%;
                      
        }

        @media @phone500 {
            margin-top: 5vh;
            margin: 0 2%;
            width:95%;           
    
        }

        .or-login {
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2%;

            h3 {
                text-align: center;
                padding-bottom: 5px;
            }
            button {
                width: 100%;
            }

        } //end of or-login

    }//end contact-container
    
} //end of header