.action-button() {
            min-width: 400px;
            width: 20%;
            height: 10vh;
            background-color:@action-button;
            color: black;
            font-family: 'Russo one', sans-serif;
            font-size: 1.6rem;
            border: none;
            border-radius: 2rem;
            


            &:hover {
                background-color: @action-color-hover;
            }
            // @media screen and (max-width: 1400px) {
            //     width: 30%;
            //     font-size: 1.6rem;
                
            // }

            // @media screen and (max-width: 1000px) {
            //     width: 30%;
            //     font-size: 1.6rem;
                
            // }
            // @media screen and (max-width: 900px) {
            //     width: 40%;
            //     font-size: 1.6rem;
                
            // }

            // @media screen and (max-width: 768px) {
            //     width: 60%;
            //     font-size: 1.4rem;
            // }
            // // @media screen and (max-width: 600px) {
            // //     width: 40%;
            // //     font-size: 1.4rem;
            // // }
            @media screen and (max-width: 500px) {
                min-width: 100px;
                width: 80%;
                font-size: 1.4rem;
            }
}

.general-button() {
    min-width: 200px;
    max-width: 100%;
    width: 20%;
    height: 5vh;
    background-color:@action-button;
    color: black;
    font-family: 'Russo one', sans-serif;
    font-size: 1.6rem;
    border: none;
    border-radius: 2rem;
    


    &:hover {
        background-color: @action-color-hover;
    }
    
    @media screen and (max-width: 500px) {
        margin-top: 2vh;
        min-width: 100px;
        width: 100%;
        font-size: 1.4rem;
    }
}


///template for biography card bio-card

.bio-card(){
    max-width: 450px;
    height: 550px;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding:20px;

    


    img{
        width: 40%;
        border-radius: 50%;
        padding-top: 20px;
        
    }

    h2 {
        font-family: 'Russo One', sans-serif;
        font-size: 1.8rem;
        color: @section-bg;
        
    }
    p {
        margin: 10px;
        text-align: justify;
    }

    button {
        .general-button();
    }

    

    
}