
//flex parametric mixin
.flex(@direction; @justify; @align){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}


//call to action button
.action-button() {
    min-width: 400px;
    width: 20%;
    height: 10vh;
    background-color: @action-button;
    color: black;
    font-family: @main-font;
    font-size: 1.8rem;
    border: none;
    border-radius: 2rem;           


    &:hover {
        background-color: @action-color-hover;
    }
    
    @media @phone500 {
        min-width: 100px;
        width: 80%;
        font-size: 1.4rem;
    }

} //end of action button



.general-button() {
    min-width: 200px;
    max-width: 100%;
    width: 20%;
    height: 5vh;
    background-color:@action-button;
    color: black;
    font-family: @main-font;
    font-size: 1.6rem;
    border: none;
    border-radius: 2rem;    


    &:hover {
        background-color: @action-color-hover;
    }
    
    @media @phone500 {
        margin-top: 2vh;
        min-width: 100px;
        width: 100%;
        font-size: 1.4rem;
    }

} //end of general button()


///template for biography card bio-card

.bio-card(@max-width){
    max-width: @max-width;
    height: 550px;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 20px;
    margin: 20px 10px 0 10px;
    padding:20px;    


    img{
        width: 40%;
        border-radius: 50%;
        padding-top: 20px;
        
    }

    h2 {
        margin-top: 10px;
        font-family: @main-font;
        font-size: 1.8rem;
        color: @section-bg;
        
    }
    h3 {
        font-family: @main-font;
        color: gray;

    }
    p {
        margin: 10px;
        text-align: justify;

        @media @phone500 {
            text-align: left;
        }
    }

    button {
        margin-top: 50px;
        .general-button();
    } 
    
    @media @phone500 {
        margin: 10px 0px;
    }

    
} //end of bio card